In [4]:
import pandas as pd
import seaborn as sns

In [ ]:
pd.DataFrame(df.groupby(['country','state'])['backers_count'].sum()).unstack()

In [48]:
pd.DataFrame(df.groupby(['country','state'])['time_allowed'].mean())

                     time_allowed
country  state
Aisa     failed         66.781250
         successful     77.481481
Aus      failed         66.480392
         successful     61.000000
Euro     failed         68.962205
         successful     74.489707
NAmerica failed         84.568586
         successful     84.857570
SAmerica failed         62.950000
         successful     60.333333

In [49]:
pd.DataFrame(df.groupby(['country','state'])['goal'].mean())

                              goal
country  state
Aisa     failed       82395.312500
         successful  108596.222222
Aus      failed       67794.715686
         successful    9457.974790
Euro     failed       45893.570079
         successful    9551.209101
NAmerica failed       92619.540639
         successful    9237.363682
SAmerica failed      142797.500000
         successful   66358.948718

In [54]:
df_count = pd.DataFrame(df.groupby(['country','state'])['name'].count())
df_count

                     name
country  state
Aisa     failed        32
         successful    81
Aus      failed       102
         successful   119
Euro     failed       635
         successful   923
NAmerica failed      2362
         successful  4009
SAmerica failed        40
         successful    39

In [ ]:
df_count['percentage'] = df[]

In [47]:
df.columns

Index(['backers_count', 'converted_pledged_amount', 'country', 'created_at',
       'currency', 'current_currency', 'deadline', 'goal', 'launched_at',
       'name', 'pledged', 'spotlight', 'staff_pick', 'state',
       'state_changed_at', 'usd_pledged', 'cat_name', 'cat_slug',
       'time_allowed', 'goal/time_allowed'],
      dtype='object')

In [34]:
df.drop(['Unnamed: 0','loc_state','static_usd_rate', 'urls', 'id', 'is_starrable', 'disable_communication', 'fx_rate'],1,inplace=True)